<div class="center jumbotron">
  <center>
  <h1>Memfit</h1>
  <h2>connecting Google Fit with Memair</h2>
  <img src="memfit.png">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <% unless user_signed_in? %>
    <%= button_to "Connect with Memair", user_memair_omniauth_authorize_path, id: "sign_in", class: "btn btn-lg btn-primary" %>
  <% end %>
  <% if user_signed_in? && current_user.google_access_token.nil? %>
    <%= button_to "Connect with Google Fit", user_google_oauth2_omniauth_authorize_path, id: "sign_in", class: "btn btn-lg btn-primary" %>
  <% end %>
  <% if user_signed_in? && !current_user.google_access_token.nil? %>
    <p>Data from Google Fit will be periodically imported into Memair.</p>
  <% end %>
  </center>
</div>

<script>
  if(window.location.hash == '#install') {
    document.getElementById('sign_in').click()
  }
</script>
