/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 */

 @import url(https://fonts.googleapis.com/css?family=Varela+Round);
 @import "bootstrap";

 body {
   font-family: 'Varela Round', sans-serif;
   background-color: #ffffff;
 }
 a {
   color: #2196f3;
   text-decoration: none;
 }
 h1 {
   margin-top: 23px;
   margin-bottom: 11.5px;
   font-family: inherit;
   font-weight: 400;
   line-height: 1.1;
   color: #444444;
 }
 blockquote.blockquote {
   font-size: 0.75rem;
   background: #f9f9f9;
   margin: 1.5em 10px;
   padding: 0.5em 10px;
   quotes: "\201C""\201D""\2018""\2019";
 }

 :root {
   --biometrics: #e83e8c;
   --digital_activities: #17a2b8;
   --emotions: #20c997;
   --journals: #fd7e14;
   --locations: #ffc107;
   --physical_activities: #28a745;
 }
