<%= stylesheet_link_tag "sticky-footer" %>

<footer class="footer">
  <div class="float-left">
    <%= link_to "Contact", 'https://blog.memair.com/community/contact', class: "nav-link" %>
  </div>
  <div class="float-right">
    <%= link_to "By memair", 'https://memair.com', class: "nav-link" %></a>
  </div>
</footer>
